<div class="contact-form">
    <span class="font-size-sm text-primary b">Request Non-Emergency Service</span>
    <p class="font-size-xs">Need emergency service? Call now <a class="contact-form__call-link" href="tel:+1{{ .Site.Data.site_settings.phone | replaceRE "[^0-9]" "" }}" aria-label="Call Hillestad Heating and Cooling">{{ .Site.Data.site_settings.phone }}</a></p>
    <div class="contact-form__wrapper">
        <form name="Request Service" method="POST" action="/thank-you/">
            <div class="visually-hidden">
                <label for="_subject">New form submission from Hillestad Heating and Cooling contact form</label>
                <input aria-label="subject" id="_subject" name="_subject" value="New form submission from Hillestad Heating and Cooling contact form"/>
            </div>
            <div class="contact-form__form-group">
                <label for="name">Name</label>
                <input name="Name" id="name" type="text" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
              <label for="phone">Phone</label>
              <input name="Phone" id="phone" type="tel" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
                <label for="message">Message</label>
                <textarea name="Message" id="message" class="contact-form__form-control" rows="4" required></textarea>
            </div>
            <div class="contact-form__form-group">
                <input type="hidden" name="inbox_key" value="hillestad-heating-form-notifications">
                <input type="text" name="_gotcha" class="visually-hidden" aria-label="gotcha">
                <div class="cf-turnstile" data-sitekey="0x4AAAAAABfNT4ykv1Qb6gAy"></div>
                <br>
                <button type="submit" class="contact-form__btn btn btn--primary">Send Message</button>
            </div>
        </form>
    </div>
</div>