.breakout {
    position: relative;
    // margin-inline: -16px;
    padding: $ic-400;
    box-shadow: 16px 16px $secondary-color;

    @include breakpoint(lg) {
        // margin-inline: -100px;

        ul {
            columns: 2;
        }
    }
}