.site-cta {
  background: $secondary-color;
  position: relative;
  z-index: 1;

  @include breakpoint(md) {
    background-image: url("https://res.cloudinary.com/hillestad/image/upload/v1744360179/cta-background_hz3z34_x6kvxj.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    block-size: 100%;
    inline-size: 100%;
    top: 0;
    left: 0;
    background-color: rgba($primary-color, .8);
    background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }
  .w-60-m + .w-40-m {
    @include breakpoint(md) {
      margin-left: 4rem;
    }

    @include breakpoint(lg) {
      margin-left: 6rem;
    }

    @include breakpoint(xl) {
      margin-left: 13rem;
    }
  }

  .contact-form {
    padding: $ic-300;
  }

  .business-info {
    inline-size: 100%;

    &__wrapper {
      inline-size: 100%;
    }

    a,
    p,
    svg {
      color: $white;
      fill: $white;
    }
  }
}

.site-cta__bottom a:not(.contact-form a) {
  color: $white;
  width: max-content;
}