.emergency-cta {
    background-color: rgba($light-gray, .85);
    color: $primary-color;
    padding: $ic-300;
  
    @include breakpoint(lg) {
      border-top-right-radius: 0;
    }

    @include breakpoint(lg) {
      padding: $ic-300 $ic-600;
    }
  
    @include breakpoint(xl) {
      padding: $ic-600;
    }
  
    a,
    h2 {
        color: $primary-color;
        margin-bottom: 0;
        text-decoration: none;
    }
}