.hero {
  display: grid;
  place-items: center;
  // block-size: 40vh;
  // max-height: 600px;
  // overflow: hidden;
  position: relative;
  background-image: linear-gradient(to right, $secondary-color-2, $secondary-color);
}

.hero > * {
  grid-area: 1 / -1;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.hero__title {
  margin-inline: auto;
}

.hero__body {
  // font-size: $ic-300;
  // font-size: clamp($ic-200, 4vw, $ic-300);
  // font-weight: 500;
}

.hero__highlight {
  margin-top: .5rem;
  gap: $ic-100;
}

.hero__carrier-logo {
  max-width: 150px;
}

.hero__service-request {
  display: none;

  @include breakpoint(lg) {
    display: block;
    position: relative;
    z-index: 2;
    margin-top: $ic-400;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.hero--split {
  position: relative;
  display: grid;
  grid-template-columns:
    minmax(1.25rem, 1fr)
    minmax(0, calc(96rem))
    minmax(1.25rem, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: -60px;
  // background-image: linear-gradient(to right, $secondary-color-2, $secondary-color);

  @include breakpoint(md) {
    // height: 70vh; 
    // max-height: 500px;
    // overflow: hidden;
    grid-template-columns:
      minmax(1.25rem, 1fr)
      minmax(0, calc(96rem / 2))
      minmax(0, calc(96rem / 2))
      minmax(1.25rem, 1fr);
    grid-template-rows: none;
  }
}

.hero--split::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(to right, $primary-color, $primary-color-2);
}

.hero--split__content {
  grid-column: 2 / 3;
  // padding-block: calc(1.953125rem + 60px);
  padding-block: clamp($ic-400, 20%, 150px);
  // padding-block-end: $ic-400;
  margin: auto 0;
  
  @include breakpoint(md) {
    margin-inline-end: clamp($ic-600, 18%, $ic-1000);
  }
}

.hero--split__image {
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;
  grid-area: 2 / 1 / 3 / 4;
  min-height: 300px;
  clip-path: polygon(50% 0, 0 25%, 0 100%, 100% 100%, 100% 25%);

  @include breakpoint(md) {
      // min-height: 600px;
    grid-area: 1 / 3 / 2 / 5;
    clip-path: polygon(35% 0%, 100% 0%, 100% 100%, 35% 100%, 0% 50%);
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
}

.hero--split__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero--split__form {
  position: absolute;
  bottom: 0;
  right: 50%;
  z-index: 8;
  transform: translateX(50%);
  width: 350px;

  @include breakpoint(md) {
    top: 50%;
    bottom: auto;
    right: 40%;
    transform: translate(50%, -50%);
  }
}

.hero--split__form .contact-form {
  max-width: 350px;
}

.hero--split__form .contact-form__form-group input,
.hero--split__form .contact-form__form-group textarea {
  background-color: $white;
  block-size: $ic-600;
  padding: $ic-100;
  margin-block-end: 0;
  font-size: $ic--100;
}

.hero--split__form .contact-form__form-group textarea {
  block-size: $ic-900;
  margin-block-end: $ic-100;
}

.hero--split__form .contact-form__btn {
  width: 100%;
}

.hero--home {
  margin-top: 0;
}