{{ define "main" }}
<section class="block">
    <div class="wrapper flow">
        <span class="brand-divider brand-divider--dark">
            <img src="/uploads/tarkenton-arrow-logomark-up.png" alt="">
        </span>
        <h2 class="no-margin">Thank you for your message!</h2>
        <p>A {{ .Site.Data.site_settings.business_name }} team member will contact you as soon as possible. If you are in need of emergency service, please call us at <a href="tel:{{ .Site.Data.site_settings.phone }}">{{ .Site.Data.site_settings.phone }}</a>.</p>
    </div>
</section>
{{ end }}
